**/node_modules
**/dist
**/build
**/coverage
**/temp
**/temp-*
**/temp_*
**/temp.*
**/temp-*

# Docker
docker-compose.override.yml

.env
.env.*

**/*.test.js
**/*.test.ts
**/*.test.tsx
**/*.test.jsx

**/*.spec.js
**/*.spec.ts
**/*.spec.tsx

**/*.d.ts
**/*.d.tsx

